@media screen and (max-width: 992px) {
  .containerFather main {
    flex-direction: column;
    height: auto;
  }
  .counter,
  .addTasks {
    width: 100%;
    margin-bottom: 10px;
  }
  .notes textarea {
    height: 240px;
  }
  .addTasks {
    order: 1;
  }
  .counter {
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  .containerFather {
    padding: 4vh 5%;
  }
  .containerFather header {
    height: 12vh;
    justify-content: space-between;
  }
  .containerFather .headerContainer .buttons {
    gap: 5px;
  }

  .containerFather .headerContainer .logo {
    gap: 5px;
  }
  .containerFather .headerContainer .logo h1 {
    font-size: 26px;
  }
  .containerFather .headerContainer .logo .iconLogo svg {
    height: 40px;
    width: 40px;
    margin-bottom: 6px;
  }
  .searchTasks {
    width: 100%;
  }
  .notes textarea {
    height: 240px;
  }
  .addTasks {
    order: 1;
  }
  .counter {
    order: 2;
  }
    .dashboardContainer .dashContainer {
    padding: 20px;
  }
  .addTasks {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
}

@media screen and (max-width: 480px) {
  .containerFather header {
    height: 10vh;
  }
  .notes textarea {
    height: 240px;
  }
  .addTasks {
    order: 1;
  }
  .counter {
    order: 2;
  }
     .dashboardContainer .dashContainer {
    padding: 20px;
  }  
}
